<div class="container">
 <div class="row">
  <div class="col-lg-10 col-lg-offset-3">

    <div class="text-left">
      <h1>Welcaome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Booker    !!</h1>
    </div>


      <p class="text-left">In <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers,</strong><br>
      you can share and exchange your opinions , inpressions , and emotions<br>
      about varioius books!
      </p>

  </div>

    <div class="btn-wrapper">

    <div class="row">
      <p>
        <%= link_to "Log in", new_user_session_path, class: "sign_in btn btn-info col-lg-5 col-lg-offset-3"%>
      </p>
    </div>

    <div class="row">
      <p>
        <%= link_to "Sign Up",new_user_registration_path, class: "sign_up btn btn-success col-lg-5 col-lg-offset-3" %>
      </p>
    </div>

 </div>
</div>

</div>